<div class="relative w-full h-32 bg-blue-900 flex items-center px-6">
  <h2 class="text-3xl md:text-4xl font-bold text-white">Tentang Kami</h2>
</div>
<div class="container mx-auto p-8 bg-white rounded-lg shadow-md lg:-mt-24">
  <div class="grid grid-cols-1  gap-4 mb-6">
    <section class="px-6 md:px-20 py-10 bg-white">
      <h2 class="text-xl md:text-2xl font-bold text-blue-900 mb-4">
        Beasiswa Sigma
      </h2>
      <p class="text-justify text-gray-700 leading-relaxed mb-4">
        Beasiswa Sigma merupakan skema beasiswa prestisius kolaborasi dari
        Kementerian Agama dan LPDP Kementerian Keuangan untuk masyarakat
        Indonesia yang ingin mengembangkan karier, pengalaman, dan jaringan
        kampus di dalam dan luar negeri. Melalui program gelar (degree program)
        maupun non gelar (non degree program), Beasiswa Indonesia Bangkit
        berkomitmen untuk mempersiapkan pemimpin, pendidik, dan profesional masa
        depan serta mendorong inovasi demi terwujudnya Indonesia yang rukun,
        harmonis, dan sejahtera. BIB terus bergerak menuju kualitas sumber daya
        manusia yang memiliki daya saing tinggi, bukan hanya pada skala lokal,
        namun juga skala regional bahkan internasional.
      </p>
      <p class="text-justify text-gray-700 leading-relaxed mb-4">
        Pengembangan kualitas sumber daya manusia merupakan salah satu program
        prioritas Pemerintah sebagaimana tercantum dalam Rencana Pembangunan
        Jangka Menengah Nasional (RPJMN) 2020–2024. Kementerian Agama juga
        memberikan perhatian penting pada program pengembangan kualitas SDM
        secara berkelanjutan dalam rangka mendukung target Rencana Strategis
        Kementerian Agama 2020–2024, terutama dalam bidang peningkatan SDM
        bidang pendidikan agama dan keagamaan.
      </p>
      <p class="text-justify text-gray-700 leading-relaxed">
        Dalam rangka mendukung tujuan di atas, Kementerian Agama bekerja sama
        dengan Lembaga Pengelola Dana Pendidikan (LPDP) Kementerian Keuangan
        melaksanakan program peningkatan kapasitas SDM melalui Program Pendanaan
        Beasiswa Kementerian Agama mulai Tahun 2022 ini.
      </p>
    </section>
  </div>
</div>
