body {
  font-family: "Inter", sans-serif;
}
.stats-card {
  transition: all 0.3s ease;
}
.stats-card:hover {
  transform: translateY(-5px);
}
.chart-container {
  height: 300px;
}
.outline-gray {
  -webkit-text-stroke: 0.09em gray;
  paint-order: stroke fill;
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out-up {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.animate-fade-in-down {
  animation: fade-in-down 0.25s ease-out forwards;
}

.animate-fade-out-up {
  animation: fade-out-up 0.25s ease-in forwards;
}

@keyframes dropdown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-dropdown {
  animation: dropdown 0.3s ease-out forwards;
}